img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    background-color: whitesmoke;
}



/* nav {
    margin: auto;
}


header {
    position: sticky;
    top: 0;
    padding: 0.5vw 1.5vw;
    background-color: #85B4E8;
    display: flex;
    justify-content: space-between;
}


header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow-x: auto;
    flex-wrap: wrap;
}

ul {
    padding: 0;
}



li a {

    text-align: center;
    padding: 14px 16px;

    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: rgb(126, 49, 90);
}

li a:hover {
    color: #FFA1D3;
}
*/


#index {
    display: grid;
}



.logo img {
    display: inline;
    width: 11.5vw;
    height: 7.2vw;
    height: auto;

}

.logo {
    text-align: left;
}

.background_color {
    background-color: whitesmoke;
}

/*Headings og tekst - mobilstørrelser */


h2 {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 3vw;
    color: rgb(126, 49, 90);
}


h3 {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 2vw;
    color: black;
}

p {
    color: black;
    font-family: 'Rubik', sans-serif;
}

/*Linjer*/
hr {
    border: 0;
    border-top: 1px solid black;
}

/**********************************INDEX (forside)*****************************************/
/*HTML main grid*/
.index {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

.index section {
    grid-column: 2/3;
    margin-bottom: 2vw;
}

.index div {
    margin-bottom: 1vw;
}

/*Splashbillede og titel*/
.index #first_section {
    grid-column: 1/4;

    width: 100%;
    height: 100vh;
    background-image: url(svg/titelskaerm.svg);
    background-size: cover;
    background-position: 53% 0%;

    display: grid;
}

/*Forside links*/
.index .col_link a {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5vw;
    color: rgb(126, 49, 90);
}

.index .col_link a:hover {
    color: pink;
}

/**********************************IDE*****************************************/
/*Ide main grid*/
.idea {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

.idea section {
    grid-column: 2/3;
    margin-bottom: 2vw;
}

.idea div {
    margin-bottom: 1vw;
}




/*@media (max-width:700px) {


    li a {
        font-size: 2vw;
    }


}*/






@media (min-width:1000px) {
    .menu a {
        font-family: 'Rubik', sans-serif;
        font-size: 1vw;
        text-decoration: none;
        font-weight: 700;
        color: #F28A22;
    }

    /*    Tekstørrelser web*/
    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 1vw;
    }

    p {
        font-size: 1vw;
    }

    .index .col_link a {
        font-size: 1vw;
    }

    /*    Grid index.html*/
    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
    }

    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
    }

    #fourth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
    }

    #fifth_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1vw;
    }
}




/******************** img's *******************/

#second_section img {
    display: block;
    width: 9vw;
    height: auto;
    object-fit: cover;
}

#skitser img {
    display: block;
    width: 50vw;
    height: auto;
    object-fit: cover;
}


#aktivitetsdiagram img {
    display: block;
    width: 50vw;
    height: auto;
    object-fit: cover;
}

#game_screens img {
    display: block;
    width: 100%;
    height: auto;
}


.ui_stars img {
    height: 6vw;
    width: 65vw;
}


.figures img {
    height: 6vw;
    width: auto;
}

footer p {
    text-align: center;
    color: rgb(126, 49, 90);
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-weight: 700;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;

}






/***************** nav from codepen *****************/

.nav {
    height: 50px;
    width: 100%;
    background-color: #85B4E8;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */

}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-logo {
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.nav-logo img {
    width: 5.6vw;
    height: 3.5vw;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }



    .nav-logo img {
        width: 15.4vw;
        height: 9.5vw;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #85B4E8;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
