body {
    margin: 0;
    padding: 0;
}

#screen {
    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
}

#startscreen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(svg/titelskaerm.svg);
    background-size: cover;
    z-index: 100;
}

#popup_screen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(svg/popup_skaerm.svg);
    background-size: cover;
    z-index: 100;
}

#game_over_points_screen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(svg/game_over2.svg);
    background-size: cover;
    z-index: 100;

}

#game_over_lives_screen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(svg/game_over.svg);
    background-size: cover;
    z-index: 100;

}


#level_completescreen {
    height: 100%;
    width: 100%;
    background-image: url(svg/level_complete.svg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

}

#game_backround {
    background-image: url(svg/baggrund.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

#game_middleground {
    background-image: url(svg/mellomgrund.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
    z-index: 90;
}

#game_middleground2 {
    background-image: url(svg/mellomgrund2.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
    z-index: 91;


}

#game_foreground {
    background-image: url(svg/forgrund.svg);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    pointer-events: none;
    z-index: 98;

}

/******************   game_elements  ************************/

#game_elements {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#figur1_container {
    position: absolute;
}


#figur1_sprite {
    background-image: url(svg/figur_1.svg);
    background-size: cover;
    height: 9vw;
    width: 7vw;
}


#figur1_red_container {
    position: absolute;
}


#figur1_red_sprite {
    background-image: url(svg/figur_1_red.svg);
    background-size: cover;
    height: 9vw;
    width: 7vw;
}



#figur2_container {
    position: absolute;
}


#figur2_sprite {
    background-image: url(svg/figur_2.svg);
    background-size: cover;
    height: 11.8vw;
    width: 7.5vw;
}

#figur3_container {
    position: absolute;
}


#figur3_sprite {
    background-image: url(svg/figur_3.svg);
    background-size: cover;
    height: 12vw;
    width: 9vw;
}

#figur4_container {
    position: absolute;
}


#figur4_sprite {
    background-image: url(svg/figur_4.svg);
    background-size: cover;
    height: 10.3vw;
    width: 9.1vw;
}


#figur5_container {
    position: absolute;
}


#figur5_sprite {
    background-image: url(svg/figur_5.svg);
    background-size: cover;
    height: 10vw;
    width: 8vw;
}

/******************   positions  ************************/


.pos1 {
    top: 7vw;
    left: 49vw;
    animation-name: jump_small_kf;
}

.pos2 {
    top: 17vw;
    left: 10vw;
    animation-name: jump_small_kf;
}

.pos3 {
    top: 26vw;
    left: 26vw;
    animation-name: jump_mid_kf;
    z-index: 91;
}

.pos4 {
    top: 45vw;
    left: 10vw;
    animation-name: jump_big_kf;
    z-index: 97;
}

.pos5 {
    top: 50vw;
    left: 22vw;
    animation-name: jump_big_kf;
    z-index: 97;
}

.pos6 {
    top: 38vw;
    left: 82vw;
    animation-name: jump_mid_kf;
    z-index: 91;
}

.pos7 {
    top: 20vw;
    left: 35vw;
    z-index: 2;
    animation-name: jump_small_kf;
}

.pos8 {
    top: 30vw;
    left: 37vw;
    animation-name: jump_big_kf;
    z-index: 91;
}

.pos9 {
    top: 24vw;
    right: 6vw;
    animation-name: jump_mid_kf;
}

.pos10 {
    top: 10.5vw;
    left: 72vw;
    animation-name: jump_small_kf;
}



/******************   delays  ************************/

.delay1 {
    animation-delay: 0s;
}

.delay2 {
    animation-delay: 0.5s;
}

.delay3 {
    animation-delay: 0.7s;
}

.delay4 {
    animation-delay: 1s;
}


/******************   speed  ************************/

.speed1 {
    animation-duration: 2s;
}

.speed2 {
    animation-duration: 1.5s;
}

.speed3 {
    animation-duration: 1s;
}


/******************   game_ui  ************************/

#game_ui {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}




#time_star_container {
    position: absolute;
    bottom: 0.2vw;
    right: 4.5vw;
    z-index: 99;
}

#time_star_sprite {
    height: 18vw;
    width: 18vw;
    background-image: url(timeglass_stars.svg);
    background-size: 1200% 100%;
    background-position: -1100%;
}

.time {
    animation-name: time_kf;
    animation-duration: 20s;
    animation-timing-function: steps(11);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes time_kf {
    0% {
        background-position: -1100%;
    }

    100% {
        background-position: 0%;
    }
}



#energy_board {
    position: absolute;
    top: 2vw;
    left: 2vw;
    display: flex;

}

#energy_board img {
    height: 5.5vw;
    width: 6.6vw;
    background-size: cover;
}



#score_board {
    position: absolute;
    background-size: cover;
    font-size: 4vw;
    font-family: sans-serif;
    color: white;
    text-shadow: -2px -2px black;
    top: 4.5vw;
    right: 7vw;
}


#score_board_star_container {
    background-image: url(svg/stjerne_gul_full.svg);
    top: -3.5vw;
    right: -2.5vw;
    background-size: cover;
    position: absolute;
    height: 9.5vw;
    width: 9vw;
    line-height: 11vw;
    text-align: center;

}


#play_btn {
    position: absolute;
    width: 12vw;
    height: 13vw;
    background-image: url(svg/play_btn_with_text.svg);
    background-size: cover;
    left: 77vw;
    top: 29vw;

    cursor: pointer;
}

#got_it_btn {
    position: absolute;
    width: 11.5vw;
    height: 11vw;
    background-image: url(svg/stjerne_rosa%20copy.svg);
    background-size: cover;
    left: 65vw;
    top: 34vw;

    cursor: pointer;
}


#try_again_pink_btn1 {
    position: absolute;
    width: 19.9vw;
    height: 6.5vw;
    background-image: url(svg/try_again_btn.svg);
    background-size: cover;
    left: 72vw;
    top: 38vw;

    cursor: pointer;

}

#meny_blue_btn1 {
    position: absolute;
    width: 19.9vw;
    height: 6.5vw;
    background-image: url(svg/meny_blue_btn.svg);
    background-size: cover;
    left: 72vw;
    top: 46vw;

    cursor: pointer;

}

#try_again_pink_btn2 {
    position: absolute;
    width: 19.9vw;
    height: 6.5vw;
    background-image: url(svg/try_again_btn.svg);
    background-size: cover;
    left: 72vw;
    top: 38vw;

    cursor: pointer;

}

#meny_blue_btn2 {
    position: absolute;
    width: 19.9vw;
    height: 6.5vw;
    background-image: url(svg/meny_blue_btn.svg);
    background-size: cover;
    left: 72vw;
    top: 46vw;

    cursor: pointer;

}

#game_over_lives_screen #try_again_pink_btn {
    position: absolute;
    width: 19.9vw;
    height: 6.5vw;
    background-image: url(svg/try_again_btn.svg);
    background-size: cover;
    left: 68vw;
    top: 36vw;

    cursor: pointer;

}

#game_over_lives_screen #meny_blue_btn {
    position: absolute;
    width: 19.9vw;
    height: 6.5vw;
    background-image: url(svg/meny_blue_btn.svg);
    background-size: cover;
    left: 68vw;
    top: 44vw;

    cursor: pointer;

}

#next_level_btn {
    position: absolute;
    width: 16.6vw;
    height: 5.5vw;
    background-image: url(svg/next_level_btn.svg);
    background-size: cover;
    left: 69vw;
    top: 28vw;

    cursor: pointer;

}

#meny_pink_btn {
    position: absolute;
    width: 16.6vw;
    height: 5.5vw;
    background-image: url(svg/meny_pink_btn.svg);
    background-size: cover;
    left: 69vw;
    top: 38vw;

    cursor: pointer;

}

#game_over_points_text {
    position: absolute;
    top: 19vw;
    left: 70vw;
    font-size: 5vw;
    font-family: sans-serif;
    color: white;
    text-shadow: -2px -2px black;
    font-weight: bold;
}

#game_over_points_text2 {
    position: absolute;
    top: 27.3vw;
    left: 64.6vw;
    font-size: 3.8vw;
    font-family: sans-serif;
    color: white;
    text-shadow: -2px -2px black;
    font-weight: bold;
}

/******************   animations  ************************/

.pulse_smaller {
    animation-name: pulse_smaller_kf;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

}

@keyframes pulse_smaller_kf {
    0% {
        transform: scale(0.8);

    }

    50% {
        transform: scale(1);

    }

    100% {
        transform: scale(0.8);

    }
}

.pulse_bigger {
    animation-name: pulse_bigger_kf;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;

}

@keyframes pulse_bigger_kf {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.1);

    }

    100% {
        transform: scale(1);

    }
}

.jump {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


@keyframes jump_big_kf {
    0% {
        transform: translateY(0) scale(1);
    }

    10% {
        transform: translateY(0) scale(1.2);
    }

    45% {
        transform: translateY(-11.5vw) scale(1.4);
    }

    50% {
        transform: translateY(-11.5vw) scale(1.5);
    }

    55% {
        transform: translateY(-11.5vw) scale(1.4);
    }

    90% {
        transform: translateY(0) scale(1.2);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes jump_mid_kf {
    0% {
        transform: translateY(0) scale(1);
    }

    10% {
        transform: translateY(0) scale(1);
    }

    45% {
        transform: translateY(-8.5vw) scale(1.1);
    }

    50% {
        transform: translateY(-8.5vw) scale(1.2);
    }

    55% {
        transform: translateY(-8.5vw) scale(1.1);
    }

    90% {
        transform: translateY(0) scale(1.1);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

@keyframes jump_small_kf {
    0% {
        transform: translateY(0) scale(1);
    }

    10% {
        transform: translateY(0) scale(1);
    }

    45% {
        transform: translateY(-5.5vw) scale(0.8);
    }

    50% {
        transform: translateY(-5.5vw) scale(0.8);
    }

    55% {
        transform: translateY(-5.5vw) scale(0.8);
    }

    90% {
        transform: translateY(0) scale(0.6);
    }

    100% {
        transform: translateY(0) scale(0.6);
    }
}





.click_bad {
    animation-name: click_bad_kf;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
}

@keyframes click_bad_kf {


    25% {
        transform: scale(1.2) rotate(25deg);
    }

    50% {
        transform: scale(1.4) rotate(-25deg);
    }

    50% {
        transform: scale(1.6) rotate(45deg);
    }

    75% {
        transform: scale(1.4) rotate(-45deg);
    }

    100% {
        transform: scale(1.3) translateY(50.5vw) rotateY(360deg);
    }
}

.click_good {
    animation-name: click_good_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes click_good_kf {
    0% {
        filter: drop-shadow(0px 0px 0px white);

    }

    50% {
        transform: scale(1.4);
    }

    100% {
        filter: drop-shadow(5px 5px 20px white);
        transform: scale(1.2) translateY(-50.5vw);
    }
}



.pause {
    animation-play-state: paused;
}

.hidden {
    display: none;
}
